.Follower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    height: 60px;
    // border: 1px solid red;
    .follower-link{
        color: var(--accent-color);
        color: white;
    }
    h4{
        cursor: pointer;
    }
}