.Navbar{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid gray;
    .container{
        height: 100%;
        max-width: 960px;
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
        .right-side{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .logout{
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

    }
}
